<!-- All frameworks sourced in this file will be sourced as they appear in the code. However, all usage areas of these
frameworks would be too much to source as most of the code uses these frameworks. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shit We're Having A Meltdown</title>
    <!-- The code snippet (1. bootstrap) below has been sources from:
    https://getbootstrap.com/
    The code appears in its original form -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- End of code snippet (1. bootstrap) -->
    <link id="css-file" rel="stylesheet" href="<%= css_file %>" charset="utf-8">
</head>
<body>