<!-- PLAYER ONE -->
<button id="btn-ready" style="display: none;"></button>
<div class="container-fluid" id="player_one_screen">
    <div class="row header-row">
        <div class="col-4 command-window">
            <div class="row justify-content-center">
                <div class="col-2">
                    <!-- Empty space -->
                </div>

                <div class="col-8 command-window-inner">
                    <div class="row" id="command-window-textfield-p1">
                        <p class="countdown">Game starts in <strong>5</strong> seconds </p>
                    </div>
                </div>

                <div class="col-2">
                    <!-- Empty space -->
                </div>
                <p>The command window</p>
            </div>
        </div>

        <div class="col-3">
            <div class="row">
                <div class="col-12" id="reactor-heat-level">
                    <!-- The artwork (2. gauge) below has been sourced from:
                    https://pixabay.com/no/gauge-ikoner-ytelse-rodentia-ikoner-1294568/
                    The artwork appears in its original form -->
                    <img id="gauge-img" src="\img\gauge-1294568_1280.png" alt="Heat Gauge.">
                    <!-- End of artwork (2. gauge) -->
                    <p class="description-text">Reactor Heat Level</p>
                </div>
            </div>

            <div class="row">
                <div class="col-6" id="heat-warning-one">
                    <!-- The artwork (3. flash) below has been sourced from:
                    https://pixabay.com/no/advarselslampen-flash-veiarbeid-160180/
                    The artwork appears in its original form. -->
                    <img id="warning-img-yellow" src="\img\warning-yellow.png" alt="lit Warning Lamp">
                    <!-- End of artwork (3. flash) -->
                    <br>
                    <p id="description-text-heat-warning-one">Heat Warning One</p>
                </div>

                <div class="col-6" id="heat-warning-two">
                    <!-- The artwork (3. flash) below has been altered from:
                    https://pixabay.com/no/advarselslampen-flash-veiarbeid-160180/
                    The artwork's colour has been altered to fit the project need. -->
                    <img id="warning-img-red" src="\img\warning-grey.png" alt="Unlit Warning Lamp">
                    <!-- End of artwork (3. flash) -->
                    <p id="description-text-heat-warning-two">Heat Warning Two</p>
                </div>
            </div>
        </div>

        <div class="col-1" id="overdrive-mode-heat">
            <div class="row">
                <div class="col-2 empty-space">
                    <!-- Empty space -->
                </div>
                <div class="col-8">
                    <div class="overdrive-temperature-outer">
                        <div class="overdrive-temperature-inner">
                            <div class="overdrive-temperature-increase"></div>
                        </div>
                    </div>
                </div>
                <div class="col-2 empty-space">
                    <!-- Empty space -->
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="row">

            </div>
            <div class="row justify-content-center">
            </div>

            <div class="row" id="cooling-system-one">
                <div class="col-6">
                    <p class="cooling-text">Sector 1 - Cooling System</p>
                </div>
                <div class="col-2">
                    <!-- The artwork (8. Computer and Media 2) below has been sourced from:
                   https://www.flaticon.com/packs/computer-and-media-2
                   The artwork appear in its original form. -->
                    <img class="keyboard-numbers" src="\img\keyboard-key-1.png" alt="#1">
                    <!-- End of artwork (8. Computer and Media 2) -->
                </div>
                <div class="col-4">
                    <!-- The artwork (3. flash) below has been altered from:
                    https://pixabay.com/no/advarselslampen-flash-veiarbeid-160180/
                    The artwork's colour has been altered to fit the project need. -->
                    <img id="cooling-lamp-one" class="cooling-lamps" src="\img\warning-grey.png" alt="Unlit Cooling Lamp">
                    <!-- End of artwork (3. flash) -->
                </div>
            </div>

            <div class="row" id="cooling-system-two">
                <div class="col-6">
                    <p class="cooling-text">Sector 2 - Cooling System</p>
                </div>
                <div class="col-2">
                    <!-- The artwork (8. Computer and Media 2) below has been sourced from:
                   https://www.flaticon.com/packs/computer-and-media-2
                   The artwork appear in its original form. -->
                    <img class="keyboard-numbers" src="\img\keyboard-key-2.png" alt="#2">
                    <!-- End of artwork (8. Computer and Media 2) -->
                </div>
                <div class="col-4">
                    <!-- The artwork (3. flash) below has been altered from:
                    https://pixabay.com/no/advarselslampen-flash-veiarbeid-160180/
                    The artwork's colour has been altered to fit the project need. -->
                    <img id="cooling-lamp-two" class="cooling-lamps" src="\img\warning-grey.png" alt="Unlit Cooling Lamp">
                    <!-- End of artwork (3. flash) -->
                </div>
            </div>

            <div class="row" id="cooling-system-three">
                <div class="col-6">
                    <p class="cooling-text">Sector 3 - Cooling System</p>
                </div>
                <div class="col-2">
                    <!-- The artwork (8. Computer and Media 2) below has been sourced from:
                   https://www.flaticon.com/packs/computer-and-media-2
                   The artwork appear in its original form. -->
                    <img class="keyboard-numbers" src="\img\keyboard-key-3.png" alt="#3">
                    <!-- End of artwork (8. Computer and Media 2) -->
                </div>
                <div class="col-4">
                    <!-- The artwork (3. flash) below has been altered from:
                    https://pixabay.com/no/advarselslampen-flash-veiarbeid-160180/
                    The artwork's colour has been altered to fit the project need. -->
                    <img id="cooling-lamp-three" class="cooling-lamps" src="\img\warning-grey.png" alt="Unlit Cooling Lamp">
                    <!-- End of artwork (3. flash) -->
                </div>
            </div>

            <div class="row" id="cooling-system-four">
                <div class="col-6">
                    <p class="cooling-text">Sector 4 - Cooling System</p>
                </div>
                <div class="col-2">
                    <!-- The artwork (7. Computer and Media 1) below has been sourced from:
                   https://www.flaticon.com/packs/computer-and-media-2
                   The artwork appear in its original form. -->
                    <img class="keyboard-numbers" src="\img\keyboard-key-4.png" alt="#4">
                    <!-- End of artwork (7. Computer and Media 1) -->
                </div>
                <div class="col-4">
                    <!-- The artwork (3. flash) below has been altered from:
                    https://pixabay.com/no/advarselslampen-flash-veiarbeid-160180/
                    The artwork's colour has been altered to fit the project need. -->
                    <img id="cooling-lamp-four" class="cooling-lamps" src="\img\warning-grey.png" alt="Unlit Cooling Lamp">
                    <!-- End of artwork (3. flash) -->
                </div>
            </div>
        </div>
    </div>
</div>