body {
    /* The artwork (1. rusted metal texture pack) below has been sourced from:
    https://opengameart.org/content/rusted-metal-texture-pack
    The artwork appears in its original form.
    */
    background: url("../img/game-background-image.png") no-repeat;

    /*
    End of artwork (1. rusted metal texture pack)
    */

    background-size: 100vw, auto;
}

* {
    margin-top: 0;
    padding-top: 0;
}

#landing_page {
    display: none;
}

#player_one_screen {
    display: none;
}

.header-row {
    padding-top: 10vh;
}

.wide-text {
    width: 100%;
}

.green {
    color: yellowgreen;
}

.red {
    color: red;
}

.blue {
    color: dodgerblue;
}

.description-text {
    text-align: center;
}

.command-window {
    height: 80vh;
    width: 100%;
}

.command-window-inner {
    padding: 5vh 0 5vh 0;
    border: solid 5px black;
    border-radius: 15px 15px 15px 15px;
    height: 70vh;
    background-color: dimgrey;
}

#command-window-textfield-p2 {
    max-height: 100%;
    padding: 5% 5% 5% 5%;
    margin: 5% 5% 5% 5%;
    background-color: dimgrey;
    overflow: auto;
}

#command-window-textfield p {
    background-color: dimgrey;
}

#demand-graph {
    margin-left: auto;
    margin-right: auto;
    max-height: 30vh;
    max-width: 30vw;
    display: block;
    height: auto;
    width: auto;
}

.space-top {
    margin-top: 5vh;
}

.generator-lamps {
    margin-left: auto;
    margin-right: auto;
    max-height: 20vh;
    max-width: 5vw;
    display: block;
    height: auto;
    width: auto;
}

.reserve-lamps {
    margin-left: auto;
    margin-right: auto;
    max-height: 20vh;
    max-width: 5vw;
    display: block;
    height: auto;
    width: auto;
}

#reserve-one-outer {
    height: 5vh;
    width: 100%;
    background-color: dimgrey;
    border: solid 5px black;
    border-radius: 15px 15px 15px 15px;
}

#reserve-one-inner {
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: red;
    border: solid 0 red;
    border-radius: 13px 13px 13px 13px;
}

#reserve-two-outer {
    height: 5vh;
    width: 100%;
    background-color: dimgrey;
    border: solid 5px black;
    border-radius: 15px 15px 15px 15px;
}

#reserve-Two-inner {
    height: 100%;
    width: 60%;
    z-index: 1;
    background-color: red;
    border: solid 0 red;
    border-radius: 13px 13px 13px 13px;
}

#reserve-three-outer {
    height: 5vh;
    width: 100%;
    background-color: dimgrey;
    border: solid 5px black;
    border-radius: 15px 15px 15px 15px;
}

#reserve-three-inner {
    height: 100%;
    width: 20%;
    z-index: 1;
    background-color: red;
    border: solid 0 red;
    border-radius: 13px 13px 13px 13px;
}

/* REFERENCE LIST FOR PLAYER_ONE.CSS

1. p0ss(2011)1. rusted metal texture pack. Retrieved from:
https://opengameart.org/content/rusted-metal-texture-pack
*/